
.container .h1{
    font-size: 60px;
    font-weight: 800;
    position: relative;
    margin-top: -350px;
    margin-left: 600px;
}

.container .h2{
    font-size: 60px;
    font-weight: 800;
    position: relative;
    margin-left: 600px;
}

.container .p{
    font-size: 25px;
    position: absolute;
    margin-left: 600px;
}

.titleimg{
    position: relative;
    left: 50px;
    top: 110px;
    width: 500px;
    height: 500px;
}

.container .up{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
    background: linear-gradient(180deg,#53f2cd,#29e19e);
}

.container .down{
    position: absolute;
    top: 588px;
    width: 0;
    height: 0;
    left: 0;
    border-top: 100px solid #29e19e;
    border-left: 100vw solid transparent;
}

.container .btn button{
    width: 360px;
    height: 64px;
    text-align: center;
    border-radius: 32px;
    position: relative;
    margin-top: 60px;
    margin-left: 600px;
    cursor: pointer;
    border: none;
}

.container .btn .hbtn{
    font-size: 24px;
    font-weight: 600;
    color: #00ccb4;
}

.middle .midhead{
    margin-top: 350px;
    font-size: 50px;
    font-weight: 600;
    float: left;
}

.middle .midpara{
    font-size: 20px;
    font-weight: 400;
    margin-right: 630px;
    float: left;
}

.middle .midimg{
    margin-top: -250px;
    width: 550px;
    height: 700px;
    float: right;
}

.middle1 .midhead1{
    margin-top: 200px;
    margin-left: 600px;
    font-size: 50px;
    font-weight: 600;
    float: right;
}

.middle1 .midpara1{
    font-size: 20px;
    font-weight: 400;
    margin-left: 600px;
    float: right;
}

.middle1 .midimg1{
    margin-top: -330px;
    width: 550px;
    height: 700px;
    float: left;
}

.middle2 .midhead2{
    margin-top: 250px;
    font-size: 50px;
    font-weight: 600;
    margin-right: 630px;
    float: left;
}

.middle2 .midpara2{
    font-size: 20px;
    font-weight: 400;
    margin-right: 630px;
    float: left;
}

.middle2 .midimg2{
    margin-top: -400px;
    width: 550px;
    height: 700px;
    float: right;
}

.middle3 .midhead3{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 600;
    float: left;
    margin-left: 250px;
}

.middle3 .midimg3{
    margin-top: 20px;
    height: 300px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .container .h1{
        font-size: 25px;
        font-weight: 800;
        position: relative;
        top: 150px;
        margin-left: 450px;
    }

    .container .h2{
        font-size: 25px;
        font-weight: 800;
        position: relative;
        margin-left: 450px;
        top: 150px;
    }
    
    .container .p{
        font-size: 20px;
        position: relative;
        margin-left: 450px;
        top: 150px;
    }
    
    .titleimg{
        position: relative;
        left: 100px;
        top: 80px;
        width: 300px;
        height: 300px;
    }

    .container .up{
        position: absolute;
        height: 300px;
        background: linear-gradient(180deg,#53f2cd,#29e19e);
    }
    
    .container .down{
        position: absolute;
        top: 388px;
        height: 0;
        left: 0px;
        border-top: 100px solid #29e19e;
        border-left: 100vw solid transparent;
    }

    .container .btn button{
        width: 200px;
        height: 50px;
        text-align: center;
        border-radius: 32px;
        position: relative;
        margin-top: 150px;
        margin-left: 430px;
        cursor: pointer;
        border: none;
    }
    
    .container .btn .hbtn{
        font-size: 18px;
        font-weight: 600;
        color: #00ccb4;
    }

    .middle .midhead{
        margin-top: 200px;
        font-size: 25px;
        font-weight: 600;
        float: left;
    }
    
    .middle .midpara{
        font-size: 15px;
        font-weight: 400;
        margin-right: 430px;
        float: left;
    }
    
    .middle .midimg{
        margin-top: -250px;
        width: 350px;
        height: 500px;
        float: right;
    }

    .middle1 .midhead1{
        margin-top: 100px;
        margin-left: 400px;
        font-size: 25px;
        font-weight: 600;
        float: right;
    }
    
    .middle1 .midpara1{
        font-size: 15px;
        font-weight: 400;
        margin-left: 400px;
        float: right;
    }
    
    .middle1 .midimg1{
        margin-top: -220px;
        width: 350px;
        height: 500px;
        float: left;
    }

    .middle2 .midhead2{
        margin-top: 200px;
        font-size: 25px;
        font-weight: 600;
        float: left;
        margin-right: 400px;
    }
    
    .middle2 .midpara2{
        font-size: 15px;
        font-weight: 400;
        margin-right: 430px;
        float: left;
    }
    
    .middle2 .midimg2{
        margin-top: -250px;
        width: 350px;
        height: 500px;
        float: right;
    }

    .middle3 .midhead3{
        margin-top: 100px;
        font-size: 25px;
        font-weight: 600;
        float: left;
        margin-left: 150px;
    }

    .middle3 .midimg3{
        margin-top: 20px;
        height: 200px;
        width: 100%;
    }
    
}

@media screen and (max-width: 480px){

    .container .h1{
        font-size: 20px;
        font-weight: 800;
        position: relative;
        margin-left: 230px;
        top: 220px;
    }

    .container .h2{
        font-size: 20px;
        font-weight: 800;
        position: relative;
        margin-left: 230px;
        top: 220px;
    }
    
    .container .p{
        font-size: 13px;
        position: relative;
        margin-left: 230px;
        top: 220px;
    }
    
    .titleimg{
        position: relative;
        left: 0px;
        top: 60px;
        width: 200px;
        height: 200px;
    }

    .container .up{
        position: absolute;
        height: 200px;
        background: linear-gradient(180deg,#53f2cd,#29e19e);
    }
    
    .container .down{
        position: absolute;
        top: 288px;
        height: 0;
        left: 0px;
        border-top: 100px solid #29e19e;
        border-left: 100vw solid transparent;
    }
    
    .container .btn button{
        width: 100px;
        height: 40px;
        text-align: center;
        border-radius: 32px;
        position: relative;
        margin-top: 220px;
        margin-left: 210px;
        cursor: pointer;
        border: none;
    }
    
    .container .btn .hbtn{
        font-size: 13px;
        font-weight: 600;
        color: #00ccb4;
    }

    .middle .midhead{
        margin-top: 100px;
        font-size: 20px;
        font-weight: 600;
        float: left;
    }
    
    .middle .midpara{
        font-size: 13px;
        font-weight: 400;
        margin-right: 180px;
        float: left;
    }
    
    .middle .midimg{
        margin-top: -180px;
        width: 170px;
        height: 300px;
        float: right;
    }

    .middle1 .midhead1{
        margin-top: 100px;
        margin-left: 180px;
        font-size: 20px;
        font-weight: 600;
        float: right;
    }
    
    .middle1 .midpara1{
        font-size: 13px;
        font-weight: 400;
        margin-left: 180px;
        float: right;
    }
    
    .middle1 .midimg1{
        margin-top: -220px;
        width: 170px;
        height: 300px;
        float: left;
    }

    .middle2 .midhead2{
        margin-top: 100px;
        margin-right: 200px;
        font-size: 20px;
        font-weight: 600;
        float: left;
    }
    
    .middle2 .midpara2{
        font-size: 13px;
        font-weight: 400;
        margin-right: 180px;
        float: left;
    }
    
    .middle2 .midimg2{
        margin-top: -180px;
        width: 170px;
        height: 300px;
        float: right;
    }

    .middle3 .midhead3{
        margin-top: 100px;
        font-size: 20px;
        font-weight: 600;
        float: left;
        margin-left: 100px;
    }

    .middle3 .midimg3{
        margin-top: 20px;
        height: 100px;
        width: 100%;
    }
}


/*
body{
    background-color: #f5f5f7;
}

.containers{
    width: 100%;
}

.container1{
    margin-top: 200px;
    margin-left: 190px;
    margin-right: 190px;
}

.container1 h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 58px;
    font-family: "Helvetica";
    display: block;
}

.container1 h1 span{
    color: rgb(0, 204, 180);
}

.container1 p{
    font-size: 55px;
    font-weight: 400;
    color: #0e101a;
    line-height: 55px;
    margin-top: -10px;
}

.p{
    font-size: 26px;
    font-weight: 400;
    color: #0e101a;
    line-height: 30px;
    margin-bottom: 10px;
    display: block;
}
.bold{
    font-weight: bold;
}

.container1 button{
    border-radius: 31px;
    border: none;
    width: 280px;
    height: 68px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #00ccb4;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
.container1 button:hover{
    background-color: rgb(0, 184, 162);
}

#icon{
    margin-left: 20px;
    font-size: 70px;
    margin-top: 30px;
    position: absolute;
    color: #00ccb4;
    cursor: pointer;
}

#icon:hover{
    color: rgb(0, 184, 162);
}

.titleimg{
    position: absolute;
    height: 700px;
    width: 700px;
    right: 300px;
    top: 150px;
}

.container2{
    height: 100px;
    margin-top: 300px;
}

.container2 h1{
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 50px;
}

.compimg{
    width: 100%;
    margin-top: 100px;
    background-color: #fff;
    height: 300px;
}

.container2 h2{
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 100px;
}

.card{
    padding: 10px;
    left: 200px;
    box-shadow: -21px 2px 43px 0 rgb(175, 172, 172);
    border-radius: 30px;
    margin: 25px 37px 37px 25px;
    display: flex;
}

#one{
    width: 700px;
    height: 300px;
}

#two{
    margin-left: 150px;
    width: 700px;
    height: 300px;
}

#three{
    width: 700px;
    height: 300px;
    margin-top: 50px;
}

#four{
    margin-left: 150px;
    width: 700px;
    height: 300px;
    margin-top: 50px;
}

.card h3{
    font-size: 25px;
    font-weight: 700;
    color: #0e101a;
    line-height: 30px;
    margin: 16px 0;
}

.card p{
    font-size: 20px;
    font-weight: 400;
    color: #0e101a;
    line-height: 26px;
}

.cards{
    margin-left: 140px;
    margin-right: 140px;
    font-size: 20px;
    font-weight: 500;
    color: #0e101a;
    line-height: 26px;
    font-style: italic;
}

.dig{
    width: 200px;
    position: relative;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 991px) {
    .containers{
        padding-right: 30px;
        padding-left: 30px;
    }

    .titleimg{
        position: relative;
        width: 500px;
        height: 500px;
        margin-left: 200px;
    }

    .container1 h1{
        font-size: 50px;
        font-weight: 800;
        line-height: 58px;
        font-family: "Helvetica";
        display: block;
    }
}


@keyframes stretch {
    0% {
      transform: scale(.3);
      border-radius: 100%;
    }
  }
  animation-name: stretch;
  animation-duration: 5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  */