.navbar{
    background-color: #fff;
    height: 90px;
    box-shadow: 0 10px 20px 0 hsl(0deg 0% 89% / 25%);
}

.logo {
    width: 180px;
    height: 50px;
}

#home{
    font-size: 22px;
    margin-left: 100px;
    color: black;
}

#login{
    font-size: 22px;
    margin-left: 50px;
    color: black;
}