.navbar{
    background-color: #fff;
    height: 70px;
    box-shadow: 0 10px 20px 0 hsl(0deg 0% 89% / 25%);
}

.logo {
    width: 170px;
    height: 50px;
}

#home{
    font-size: 20px;
    margin-left: 60px;
    color: black;
}

#login{
    font-size: 20px;
    margin-left: 30px;
    color: black;
}